@model IEnumerable<AwesomeBlog.Models.Post>

@{

    ViewBag.Title = "Wow Blog";

}

<h2>Much Blog</h2>

<div class="doge">
    <img src="http://i.imgur.com/6AfL7Sd.jpg">

</div>
@foreach (var post in Model)
{
    <section>

        <h1>@post.title</h1>
        <small>
            @post.postDate.ToLongDateString() <br />

        </small>
        @if (!string.IsNullOrEmpty(post.thumbnail))
        {
            <img class=" " src="@post.thumbnail" height="200" /> <br />

        }
        By @post.author
        <div class="post">

            @post.body 
        </div>

        <div>


            @if (post.favorite == 1)
            {
                    <!--Makes it to where you can click 'like' and it wont refresh the whole page-->
                <span class="like" data-id="@post.blogID">
                    @post.favorite
                    Like

                </span>
            }
            else
            {
                <span class="like" data-id="@post.blogID">
                    @post.favorite
                    Likes

                </span>
            }


        </div>


        @Html.Partial("comments", post)


    </section>
}